# Anything within the root folder of the Helm chart, where Chart.yaml resides,
# will be embedded into the packaged Helm chart. This is reasonable since only
# when the templates render after the chart has been packaged and distributed,
# will the templates logic evaluate that determines if other files were
# referenced, such as our our files/hub/jupyterhub_config.py.
#
# Here are files that we intentionally ignore to avoid them being packaged,
# because we don't want to reference them from our templates anyhow.
values.schema.yaml

# Patterns to ignore when building packages.
# This supports shell glob matching, relative path matching, and
# negation (prefixed with !). Only one pattern per line.
.DS_Store
# Common VCS dirs
.git/
.gitignore
.bzr/
.bzrignore
.hg/https://github.com/FoundationAgents/MetaGPT/blob/main/README.md%7Cwrite%20a%20metagpt%20agent%20that%20will%20use%20my%20openai%20%3Ckey%3E%20and%20use%20the%20best%20model.%20the%20idea%20is:%20%22app%20to%20simulate%20personal%20finances.%20I%20want%20to%20specify%20a%20financial%20change%20in%20my%20life%20and%20simulate%20what's%20a%20configurable%20time%20horizon%20would%20look%20like.%20it%20should%20obviously%20have%20context%20of%20my%20personal%20finances.%20it%20should%20also%20have%20rich%20preferrably%20dynamic%20visualizations.%22
.hgignore
.svn/
# Common backup files
*.swp
*.bak
*.tmp
*~
# Various IDEs
.project
.idea/
*.tmproj
